/* #IMPORT */
@import url('//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300');

// Colors
$border_color: #808080;
$font_color: #232520;
$light_font_color: lighten($font_color, 15%);
$background_color: #F2F6ED;
$link_color: #789;
$link_highlight_color: lighten($font_color, 15%);
$disabled_color: #777;
$pre_background_color: lighten($background_color, 15%);

/* #TYPE */
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

blockquote {
  border-left: 3px solid $border_color;
  padding-left: 1em;
}

h1, .alpha {
  margin-bottom: 2.8888rem;
  font-size: 1.4444rem;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 700px) {
  h1, .alpha {
    margin-bottom: 1.4444rem;
    font-size: 1.73328rem;
  }
}

h2, .beta {
  padding-top: 0.7222rem;
  margin-bottom: 0.7222rem;
  font-size: 1.384615385rem;
  font-weight: 400;
  line-height: .96;
  orphans: 3;
  widows: 3;
}

.front-page {
  h2 {
    margin-top: 0;
    padding-top: 0;
  }
}

h3, .gamma {
  padding-top: 0.7222rem;
  margin-bottom: 0.7222rem;
  line-height: 1.4444;
}

code, pre {
  padding: 5px;
  font: 83.333%/1.5333 "Source Code Pro", Monaco, monospace;
  background-color: $pre_background_color;
  border-radius: .25em;
}

pre {
  overflow: scroll;
  padding: 1.4444rem;

  i {
    font-style: normal;
    color: $font_color;
  }

  b { color: $font_color; }
}

.promo {
  text-align: center;
}

a {
  text-decoration: none;
  color: $link_color;
}

a:hover {
  color: $link_highlight_color;
}

// Enable word-breaking for weird text.
/* This is broken in Firefox.
p {
  -ms-word-break: break-all;
  word-break: break-all;

  // Non standard for webkit.
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
*/

.show_hide {
  cursor: pointer;
}

/* #MAIN */
html {
  font: 112.5%/1.444444444 "Runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $font_color;
  background: $background_color;
}

@media (max-width: 700px) {
  html {
    font-size: 93.75%;
  }
}

body {
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
  color: $font_color;
  background: $background_color;
}

.footer {
  text-align: center;
  padding: 1em 0;

  a {
    color: $link_color;
    font-size: 80%;
  }

  a:hover {
    color: $link_highlight_color;
  }

  .pure-menu a:hover,
  .pure-menu a:focus {
    color: $link_highlight_color;
    background: none;
  }
}

.post-content {
  h1 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.navigator {
  text-align: center;
  margin: 10px 0;

  .pure-menu-item {
    margin: 3px 10px;
  }
}

.l-box {
  // padding: 1em;
  // background: $light_background_color;
  margin-top: 10px;
}

.post {
  margin: 10px;

  .meta {
    @include clearfix();
    margin-bottom: 10px;

    .time {
      text-align: right;
      display: inline-block;
      float: right;
    }

    .id {
      text-align: left;
      display: inline-block;
      float: left;
      font-weight: 800;
    }
  }
}

.front-page {
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
  @include clearfix();

  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
    }

    > a:hover,
    > a:focus {
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $disabled_color;
      cursor: not-allowed;
    }
  }
}

.post {
  .addons {
    h1 {
      margin: 0;
    }

    .embed {
      padding: 10px;
      border: dashed 1px $border_color;
    }
  }
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.4444rem;
}

.pure-form {
  textarea {
    resize: vertical;
  }

  label[for="option-one"] {
    float: right;
  }
}

.markdown {
  img {
    max-width: 100%;
  }
}

li.link {
  a {
    cursor: pointer;
  }
}

.tag-header {
  margin-top: 30px;
}

#archives{
  .day  {
    font-weight: bold;
    margin-left: 2em;
  }

  .days {
    margin-left: 3em;
  }

  .month  {
    font-size: 1.3em;
    padding: 3px;
    margin-bottom: 0px;
    margin-left: 1em;
  }

  .year  {
    font-size: 2em;
    width: 100px;
  }

  li  {
    text-align: left;
    display: inline;
    list-style: none;
    display: inline;
    margin: 0;
  }

  li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "";
  }

  li:nth-last-child(2):after {
    content: " & ";
  }

  ul  {
    list-style-type: none;
    margin: 0 0 0 50px;
    padding: 5px;
  }
}

.stat {
  padding-top: 1rem;
  text-align: center;

  .big {
    font-size: 3em;
    font-weight: 700;
  }

  .small {
    font-weight: 300;
  }
}

.header-logo {
  display: block;
  margin: 0 auto;    
}
