/* #IMPORT */
// Nothing

// Colors
$border_color: #808080;
$font_color: #232520;
$light_font_color: lighten($font_color, 15%);
$background_color: #F2F6ED;
$link_color: lighten($font_color, 15%);
$link_highlight_color: #08A8E6;
$disabled_color: #777;
$pre_background_color: lighten($background_color, 15%);

/* #TYPE */
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

h1, .alpha {
  margin-bottom: 2.8888rem;
  font-size: 1.4444rem;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 700px) {
  h1, .alpha {
    margin-bottom: 1.4444rem;
    font-size: 1.73328rem;
  }
}

h2, .beta {
  padding-top: 0.7222rem;
  margin-bottom: 0.7222rem;
  font-size: 1.384615385rem;
  font-weight: 400;
  line-height: .96;
  orphans: 3;
  widows: 3;
}

.front-page {
  h2 {
    margin-top: 0;
    padding-top: 0;
  }
}

h3, .gamma {
  padding-top: 0.7222rem;
  margin-bottom: 0.7222rem;
  line-height: 1.4444;
}

code, pre {
  font: 83.333%/1.5333 "Source Code Pro", Monaco, monospace;
  background-color: $pre_background_color;
  border-radius: .25em;
}

pre {
  overflow: scroll;
  padding: 1.4444rem;

  i {
    font-style: normal;
    color: $font_color;
  }

  b { color: $font_color; }
}

.promo {
  text-align: center;
}

a {
  text-decoration: none;
  color: $link_color;
}

a:hover {
  color: $link_highlight_color;
}

// Enable word-breaking for weird text.
p {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* #MAIN */
html {
  font: 112.5%/1.444444444 "Runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $font_color;
  background: $background_color;
}

@media (max-width: 700px) {
  html {
    font-size: 93.75%;
  }
}

body {
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
  color: $font_color;
  background: $background_color;
}

.footer {
  text-align: center;
  padding: 1em 0;

  a {
    color: $link_color;
    font-size: 80%;
  }

  a:hover {
    color: $link_highlight_color;
  }

  .pure-menu a:hover,
  .pure-menu a:focus {
    color: $link_highlight_color;
    background: none;
  }
}

.post-content {
  padding: 5px 0 0 20px;
  margin-left: 3px;

  border-left: 1px $border_color solid;

  h1 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .meta {
    border-top: dotted $border_color 1px ;
    margin-top: 20px;
    padding-top: 10px;
    text-align: right;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.post {
  margin: 20px 10px;

  .time {
    margin-bottom: 10px;
  }
}

.front-page {
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
  @include clearfix();

  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
    }

    > a:hover,
    > a:focus {
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $disabled_color;
      cursor: not-allowed;
    }
  }
}

.post {
  .addons {
    h1 {
      margin: 0;
    }

    .embed {
      padding: 10px;
      border: dashed 1px $border_color;
    }
  }
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.4444rem;
}

.pure-form {
  textarea {
    resize: vertical;
  }

  label[for="option-one"] {
    float: right;
  }
}

.markdown {
  img {
    max-width: 100%;
  }
}
