{{ define "base" }}
<!doctype html>
<html>
  <head>
    <title>{{ template "title" . }}</title>
  </head>
  <body>
    {{ template "content" . }}
    {{ template "scripts" . }}
  </body>
</html>
{{ end }}

{{ define "scripts" }}{{ end }}
