/* This is broken in Firefox.
p {
  -ms-word-break: break-all;
  word-break: break-all;

  // Non standard for webkit.
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
*/
a, a:link, a:visited {
  -webkit-transition: color .4s;
          transition: color .4s;
  color: #265C83; }

h1 a {
  text-decoration: none; }

h1 {
  line-height: 1.3; }

a:hover {
  color: #7FDBFF; }

a:active {
  -webkit-transition: color .3s;
          transition: color .3s;
  color: #007BE6; }

.show_hide {
  cursor: pointer; }

.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center; }
  .pager li {
    display: inline; }
    .pager li > a, .pager li > span {
      display: inline-block;
      padding: 5px 14px; }
  .pager .next > a, .pager .next > span {
    float: right; }
  .pager .previous > a, .pager .previous > span {
    float: left; }
  .pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    cursor: not-allowed; }

.post .addons h1 {
  margin: 0; }
.post .addons .embed {
  padding: 10px; }

.pure-form textarea {
  resize: vertical; }
.pure-form label[for="option-one"] {
  float: right; }

.markdown img {
  max-width: 100%; }

li.link a {
  cursor: pointer; }

.tag-header {
  margin-top: 30px; }

ul.inline {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.inline li {
    text-align: left;
    display: inline;
    list-style: none;
    display: inline;
    margin: 0; }
  ul.inline li:after {
    content: ", "; }
  ul.inline li:last-child:after {
    content: ""; }
  ul.inline li:nth-last-child(2):after {
    content: " & "; }
