a, a:link, a:visited {
  transition: color .4s;
  color: #265C83;
}

a:hover {
  color: #7FDBFF;
}

a:active {
  transition: color .3s;
  color: #007BE6;
}

h1 a {
  text-decoration: none;
}

blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  margin-left: 0px;
}

.post .addons .embed {
  padding: 10px;
}

.markdown img {
  max-width: 100%;
  display: block;
}

.markdown p, .markdown li {
  max-width: 34em;
  line-height: 1.5;
  font-size: 1.25rem;
}

@media screen and (min-width: 30em) .markdown p {
  font-size: 1.5rem;
}

ul.sentence li:nth-last-child(2):after {
  content: " & ";
}

.pager {
  padding-left: 0;
  margin: 2.5em 0;
  list-style: none;
  text-align: center;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  cursor: not-allowed;
}

ul.inline, ul.sentence {
  display: inline;
  list-style-type: none;
}

ul.inline li, ul.sentence li {
  text-align: left;
  display: inline;
  list-style: none;
  display: inline;
  margin: 0;
}

ul.inline li:after, ul.sentence li:after {
  content: ", ";
}

ul.inline li:last-child:after, ul.sentence li:last-child:after {
  content: "";
}
